name: Live Matches Update

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - run: pip install requests

      - run: python scraper.py

      - run: 
          git config --global user.name "github-bot"
          git config --global user.email "bot@github.com"

          git pull origin main --rebase

          git add matches_today.json
          git commit -m "Update matches" || echo "No changes"

          git push origin main
