name: Live Matches Update

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

concurrency:
  group: live-matches
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install requests

      - name: Run scraper
        run: python scraper.py

      - name: Commit & push results
        run: |
          git config --global user.name "github-bot"
          git config --global user.email "bot@github.com"

          git pull origin main --rebase

          git add matches_today.json
          git commit -m "Update matches" || echo "No changes"

          git push origin main
